@model IEnumerable<UserTypes>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="whiteBackround border">

    <div class="row">
        <div class="col-6">
            <h2 class="text-info">أنواع المستخدمين</h2>
        </div>

        <div class="col-6 text-left mb-1">
            <partial name="_CreateButtonPartial" />
        </div>
    </div>

    <div>
        @if (Model.Count() == 0)
        {
            <p class="text-danger">لم يتم تصنيف أي مستخدم ...</p>
        }
        else
        {
            <table class="table table-striped border">
                <tr class="table-secondary">
                    <th>
                       #
                    </th>
                    <th>
                       نوع المستخدم
                    </th>
                    <th>

                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Type)
                        </td>
                        <td style="width:150px">
                            <div class="btn-group" role="group">
                                <a asp-action="Details" class="btn btn-success text-white" asp-route-id="@item.Id">
                                    <i class="fas fa-list-alt"></i>
                                </a>
                                <a asp-action="Edit" class="btn btn-primary text-white" asp-route-id="@item.Id">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a asp-action="Delete" class="btn btn-danger text-white" asp-route-id="@item.Id">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </table>
        }
    </div>
</div>

